/* Centering the form container and adding padding */
.ChooseFileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Hide the file input and make it visually accessible only when focused */
.ChooseFileInput {
    display: none;
}

.ChooseFileButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ChooseFileButton:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
